@page "/"
@page "/home"

<div class="column-layout home-container">
    <div class="column-layout page-content">
        <div class="row-layout header">
            <div class="row-layout group">
                <span class="material-icons icon">
                    home
                </span>
                <h4 class="h4">
                    Home
                </h4>
            </div>
        </div>
        <div class="row-layout content">
            <div class="row-layout group_1">
                <div class="column-layout group_2">
                    <div class="row-layout group_3">
                        <IgbAvatar Src="assets/Avatar6.png" Shape="AvatarShape.Circle" class="avatar avatar_2" home-scope></IgbAvatar>
                        <div class="column-layout group_4">
                            <h5 class="content_1">
                                Erin Brockovich
                            </h5>
                            <p class="typography__body-1 content_1">
                                Water quality specialist
                            </p>
                        </div>
                    </div>
                    <div class="column-layout group_5">
                        <div class="row-layout group_6">
                            <div class="column-layout group_7">
                                <p class="typography__subtitle-2 text">
                                    Open PTO
                                </p>
                                <span class="material-icons icon_1">
                                    date_range
                                </span>
                                <p class="typography__body-2 text_1">
                                    8.5 days used (YTD)
                                </p>
                                <p class="typography__caption text_1">
                                    1 day scheduled
                                </p>
                            </div>
                            <div class="column-layout group_8">
                                <p class="typography__subtitle-2 text">
                                    Bereavement leave
                                </p>
                                <div class="row-layout group_9">
                                    <h6 class="content_2">
                                        0.0
                                    </h6>
                                    <span class="material-icons icon_2">
                                        date_range
                                    </span>
                                </div>
                                <p class="typography__body-2 text_1">
                                    Days available
                                </p>
                                <p class="typography__caption text_1">
                                    0 day scheduled
                                </p>
                            </div>
                        </div>
                        <div class="row-layout group_10">
                            <IgbButton DisplayType="ButtonBaseType.Button" class="button" home-scope>
                                <span class="material-icons">
                                    send
                                </span>
                                <span>Request time off</span>
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" home-scope>
                                <span class="material-icons icon_3">
                                    email
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                    <div class="column-layout group_11">
                        <p class="typography__subtitle-2 text_2">
                            What's the buzz
                        </p>
                        <div class="column-layout list_scroll">
                            <IgbList class="list" home-scope>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/Avatar3.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_1" home-scope></IgbAvatar>
                                    <div slot="title">Ethan Hunt</div>
                                    <div slot="subtitle">Birthday, Oct 1</div>
                                    <span slot="end" class="material-icons icon_4">
                                        cake
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/Avatar5.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_2" home-scope></IgbAvatar>
                                    <div slot="title">Luke Skywalker</div>
                                    <div slot="subtitle">25th work-anniversary</div>
                                    <span slot="end" class="material-icons icon_4">
                                        flag
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/Avatar1.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_3" home-scope></IgbAvatar>
                                    <div slot="title">Donnie Darko</div>
                                    <div slot="subtitle">On vacation, Oct 10-23</div>
                                    <span slot="end" class="material-icons icon_4">
                                        beach_access
                                    </span>
                                </IgbListItem>
                                <IgbListItem>
                                    <IgbAvatar Src="assets/Avatar2.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_4" home-scope></IgbAvatar>
                                    <div slot="title">Edna Mode</div>
                                    <div slot="subtitle">Visiting customer</div>
                                    <span slot="end" class="material-icons icon_4">
                                        airplanemode_active
                                    </span>
                                </IgbListItem>
                            </IgbList>
                        </div>
                    </div>
                </div>
                <div class="column-layout group_12">
                    <div class="column-layout group_13">
                        <div class="row-layout group_14">
                            <p class="typography__subtitle-2 text_3">
                                What's happening at Rapid Fission Inc.
                            </p>
                            <p class="typography__subtitle-2 text_3">
                                Announcements (1)
                            </p>
                        </div>
                        <IgbList class="list" home-scope>
                            <IgbListItem>
                                <IgbAvatar Src="assets/Avatar4.png" slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_5" home-scope></IgbAvatar>
                                <div slot="title">George Bailey posted  an announcement, awards, and call for nominations</div>
                                <div slot="subtitle">19 days ago</div>
                                <span slot="end" class="material-icons icon_4">
                                    clear
                                </span>
                            </IgbListItem>
                        </IgbList>
                    </div>
                    <div class="column-layout group_15">
                        <div class="row-layout group_16">
                            <p class="typography__subtitle-2 content_2">
                                MY BENEFITS
                            </p>
                        </div>
                        <IgbList class="list" home-scope>
                            <IgbListItem>
                                <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_6" home-scope>
                                    <span class="material-icons">
                                        security
                                    </span>
                                </IgbAvatar>
                                <div slot="title">Radiation protection health insurance planre</div>
                                <div slot="subtitle">$600 every other week</div>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_7" home-scope>
                                    <span class="material-icons">
                                        remove_red_eye
                                    </span>
                                </IgbAvatar>
                                <div slot="title">20/20 Vision plans here</div>
                                <div slot="subtitle">$234 every other week</div>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_8" home-scope>
                                    <span class="material-icons">
                                        child_friendly
                                    </span>
                                </IgbAvatar>
                                <div slot="title">Child care savings</div>
                                <div slot="subtitle">$4955 remaining</div>
                            </IgbListItem>
                            <IgbListItem>
                                <IgbAvatar slot="start" Shape="AvatarShape.Circle" class="avatar_1 avatar_1_9" home-scope>
                                    <span class="material-icons">
                                        security
                                    </span>
                                </IgbAvatar>
                                <div slot="title">Fire hazard protection  </div>
                                <div slot="subtitle">On da house!</div>
                            </IgbListItem>
                        </IgbList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
}
