.column-layout {
    display: flex;
    flex-direction: column;
}
.my-info-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.page-content {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 1000px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.row-layout {
    display: flex;
}
.header {
    background-color: var(--ig-primary-700);
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    height: 144px;
    min-height: 144px;
    max-height: 144px;
    flex-shrink: 0;
}
.group {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    width: 960px;
    min-width: 50px;
    min-height: 50px;
    max-width: 960px;
    flex-shrink: 0;
}
.group_1 {
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 16px 0 0;
    min-width: 200px;
    min-height: 50px;
    flex-shrink: 0;
}
.group_2 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
}
.group_3 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    margin: 0 0 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    min-width: 50px;
    min-height: min-content;
}
.content {
    background-color: var(--ig-gray-100);
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    overflow: auto;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
}
.group_5 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    padding: 0 0 16px;
    width: 960px;
    min-width: 50px;
    min-height: 50px;
    max-width: 960px;
    flex-shrink: 0;
}
.group_6 {
    background-color: var(--ig-surface-500);
    border-color: var(--ig-gray-200);
    border-width: 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    width: 200px;
    min-width: 50px;
    max-width: 200px;
    flex-shrink: 0;
}
.group_7 {
    border-color: var(--ig-gray-200);
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
}
.group_8 {
    border-color: var(--ig-gray-200);
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 8px;
    position: relative;
    padding: 16px;
    min-width: 50px;
}
.group_9 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    height: max-content;
    min-width: 50px;
    flex-shrink: 0;
}
.group_10 {
    border-color: var(--ig-gray-300);
    border-width: 0px 0px 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
}
.group_11 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin: 0 0 8px;
    height: max-content;
    min-width: 50px;
    flex-shrink: 0;
}
.group_12 {
    background-color: var(--ig-surface-500);
    border-color: var(--ig-gray-200);
    border-width: 1px;
    border-style: solid;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    padding: 16px;
    flex-grow: 1;
}
.group_13 {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
}
.group_14 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    min-width: 50px;
}
.group_15 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
}
.group_16 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    margin: 0 0 16px;
    min-width: 50px;
}
.group_17 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    margin: 0 0 32px;
    min-width: 50px;
}
.image {
    object-fit: cover;
    border-radius: 50%;
    width: 112px;
    height: 112px;
    min-width: 0;
    min-height: 0;
    max-width: 112px;
    max-height: 112px;
    flex-shrink: 0;
}
.content_1 {
    color: white;
    height: max-content;
    min-width: min-content;
}
.text {
    color: var(--ig-primary-500);
    margin: 0 0 8px;
    height: max-content;
    min-width: min-content;
}
.text_1 {
    height: max-content;
    min-width: min-content;
}
.icon {
    --size: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;
}
.content_2 {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.avatar {
    margin: 0 8px 0 0;
}
.icon_1 {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}
.icon_2 {
    --size: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px;
}
.avatar::part(base) {
    background-color: transparent;
}
.button {
    --ig-size: var(--ig-size-medium);
    height: max-content;
    flex-shrink: 0;
}
.user-input {
    height: max-content;
    min-width: min-content;
    flex-grow: 1;
    flex-basis: 0;
}
.input {
    height: max-content;
    min-width: 484px;
    flex-grow: 1;
    flex-shrink: 0;
}
.user-input_1 {
    height: max-content;
    min-width: min-content;
    flex-shrink: 0;
}
.input_2 {
    height: max-content;
    max-width: 100px;
    flex-shrink: 0;
}
.button_1::part(base) {
    color: white;
    background-color: var(--ig-primary-400);
}
.button_2::part(base) {
    color: white;
}
.button_3::part(base) {
    color: white;
}
.button_4::part(base) {
    color: white;
}
.button_5::part(base) {
    color: white;
}
.button_6::part(base) {
    color: white;
}
.button_7::part(base) {
    color: white;
}
